/* Stiziles */

/*html, body {
  background: #222222;
  width:100%;
  height:100%;
  padding:0px;
  margin: 0px;
}*/

/* main */

/*#content{
  width:100%;
  height:100%;
}*/
/*.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}*/

/*.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}*/

a {
  text-decoration: none;
  color: inherit;
}

#stationsWrapper {
  display: flex;
  -webkit-flex-flow: row;
}

.trainStation {
  min-width: 400px;
  margin-top: 5%;
}

#wrapper {
  white-space: nowrap;
}

#trainStopsBox {
  background-color: #CE072D;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  margin-bottom: 10px;
}

#trainStopsList {
  display: flex;
  justify-content: center;
}

.trainStop {
  display: inline-block;
}

img.instagramImage {
  max-width: 100px;
}

.instagramImageListItem {
  margin: 0;
}

ul.instagramList {
  padding: 0;
  margin: 0;
  min-width: 400px;
  max-width: 400px;
  overflow: scroll;

  display: flex;
  flex-flow: row-wrap;
  -webkit-flex-flow: row wrap;
}

ul.instagramList:hover {
  -webkit-flex-flow: row wrap;
  max-width: none;
  min-width: 4800px;
}

ul.instagramList:hover img.instagramImage {
  /* transform into row of full-sized images */
  max-width: none;
  width: 400px;
  height: 400px;

}

.streetViewByStop {
  padding: 0;
  margin: 0;
}

#instagramContainer {
}

li {
  list-style: none;
  display: inline-block;
}

ul {
  list-style: none;
  display: inline-block;
}
.fakeButton {
  background-color: white;
  border-radius: 20px;
  padding: 0px 9px;
  margin: 0px 3px 0px 3px;
  color: inherit;
  text-decoration: none;
}

.fakeButton:hover {
  background-color: black;
  color: white;
}
